{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ $images := resources.Match "images/build-cache-test/**" }}

{{ $outputWidth := 960 }}
{{ $outputHeight := 540 }}
{{ $outputFormat := "avif" }}

{{ $inputWidth := (index $images 0).Width }}
{{ $inputHeight := (index $images 0).Height }}
{{ $inputFormat := (index $images 0).MediaType.SubType }}

{{ $processingSpec := printf "fill %dx%d %s" $outputWidth $outputHeight $outputFormat }}

{{ $start := now.UnixMilli }}
{{ range $images }}
	{{ $noop := .Process $processingSpec }}
{{ end }}
{{ $end := now.UnixMilli }}

{{ $elapsed := sub $end $start }}

<p>{{ printf "Converted %d %s images (%dx%d) to %s (%dx%d) in %d ms." ($images | len) ($inputFormat | upper) $inputWidth $inputHeight ($outputFormat | upper) $outputWidth $outputHeight $elapsed }}</p>

<p>Uncached conversion takes several seconds; subsequent cached processing should be under 1 second.</p>
{{ end }}
